<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit an item entry</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h2>Edit an item entry</h2>
	<form action="#" th:action="@{/saveitem}" th:object=${item}
		method="post">
		<input type=hidden th:field="${item.itemId}" />
		<p>
			Item: <input type="text" th:field="${item.name}" />
		</p>
		<p>
			Time: <input type="text" th:field="${item.time}" />
		</p>
		<p>
			Tracking: <select id="values" th:field="*{tracker}"
				class="form-control">
				<option th:each="tracker: ${trackvalues}"
					th:value="${tracker.trackId}" th:text="${tracker.track}"></option>
			</select>
		</p>

		<input type="submit" value="Submit" />
	</form>

</body>
</html>