<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Item listing</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<div id="itemlist" class="jumbotron text-center container">
		<h1>Custom Item Tracker</h1>
		<h3>Here are the trackable items.</h3>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Time</th>
				<th>Tracking</th>
			</tr>

			<tr th:each="item : ${items}">
				<td th:text="${item.name}"></td>
				<td th:text="${item.time}"></td>
				<td th:text="${item.tracker.track}"></td>
				<!-- To do: Lisää poisto ja editointimahdollisuus -->
				<td><a th:href="@{/deleteitem/{itemId}(itemId=${item.itemId})}">Delete</a></td>
				<td><a th:href="@{/edititem/{itemId}(itemId=${item.itemId})}">Edit</a></td>
				<!-- To do: Radio button "Yes" ja "No" trackerille. -->
		</table>

		<a href="/additem" class="btn btn-info">New Item</a>
	</div>

	<br>

	<div id="trackinglist" class="container">
		<h2>Tracking</h2>
		<table id=tracktable class="table table-bordered">
			<tr>
				<th>Name</th>
				<th>Time</th>
			</tr>
			<tr th:if="${item.tracker.track == 'Yes'}" th:each="item : ${items}">
				<td th:text="${item.name}"></td>
				<td th:text="${item.time}"></td>
				<!-- To do: Poista listasta = vaihda track-arvo 'No' napin painalluksella? -->
				<!--  <td><a th:href="@{/removeitem/{itemId}(itemId=${item.itemId})}">Remove</td> -->
				<!-- Erillinen JavaScript komento! Tyyliin "document.getElementById('change-button').addEventListener('click', event => {document.getElementById('something').setAttribute('track', 'text: No');}); -->
			</tr>
		</table>
	</div>
</body>
</html>